.body {
  color: #212121;
  background-color: white;
  font-family: 'roboto', sans-serif;
  list-style: none;
}
/*Header*/
.header {
}

.logo-in-header {
}
.header-list {
  list-style: none;
}
.header-element1,
.header-element2,
.header-element3 {
  color: #757575;
}
.header-element1:hover,
.header-element2:hover,
.header-element3:hover {
  color: #2196f3;
}

.contact-list {
  list-style: none;
}
.header-contact {
  color: #757575;
}
.header-contact:hover {
  color: #2196f3;
}

/*Studio*/
.main {
  background: white;
}

.hero-section {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-text {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  cursor: pointer;
  background-color: #2196f3;
  margin-left: 700px;
  margin-top: 150px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.main-heading {
  font-size: 36px;
  line-height: 1.2;
}
.secondary-heading {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.main-list {
  list-style: none;
}
.main-img {
  list-style: none;
}

/*Portfolio*/
.button-block {
  list-style: none;
}
.button-portfolio1 {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #2196f3;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-portfolio2 {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #2196f3;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-portfolio3 {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #2196f3;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-portfolio4 {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #2196f3;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-portfolio5 {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #2196f3;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-portfolio1:hover,
.button-portfolio2:hover,
.button-portfolio3:hover,
.button-portfolio4:hover,
.button-portfolio5:hover {
  color: white;
}

.main-element1 {
  list-style: none;
}
.main-element2 {
  list-style: none;
}
.main-element3 {
  list-style: none;
}
.main-element4 {
  list-style: none;
}

.main-element5 {
  list-style: none;
}
.main-element6 {
  list-style: none;
}

.main-element7 {
  list-style: none;
}
.main-element8 {
  list-style: none;
}
.main-element9 {
  list-style: none;
}

.element-heading {
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.element-text {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

/*Footer*/
.footer {
  background-color: #2f303a;
}
.logo-in-footer {
}

.footer-list {
  list-style: none;
}

.footer-map {
  color: white;
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
}
.footer-map:hover {
  color: #2196f3;
}
.footer-contact {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
}
.footer-contact:hover {
  color: #2196f3;
}
